body {
  font-size:1.7em;
  font-weight:300;
}
.md-button{
  font-size:1em !important;
  font-weight:400 !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  margin-left:10px !important;
  margin-right:10px !important;

}
.name {
  font-size:1.7em !important;
  font-weight:300 !important;
}
.gap {
  height:50px !important;
}
.tags section .md-button {
  display: block;
  margin: 1em !important;
  line-height: 25px;
}
.no-background {
  background-color:none;
  background: none !important;
}
.background-fill {
  background:rgb(97, 97, 97) !important;
  background-color:rgb(97, 97, 97) !important;
}
.social{
  margin-top:30px;
  width:100%;
  font-size:1em;
  text-align:center;
}
.social span{
  top:0px;
  margin-bottom:40px;
  padding-left:10%;
  padding-right:10%;

}
.social i {
  font-size:3em;
  color:#C5C3C6;
}
.social a:hover{
  text-decoration:none;
}
.social md-button:hover{
  text-decoration:none;
  background:none;
}
.social .fa-linkedin-square:hover {
  color:#4875B4;
}
.social .fa-github:hover {
  color:#4183c4;
}
.social .fa-envelope:hover {
  color:#1985a1;
}
.md-chip {
  height:20px !important;
  line-height:20px !important;
  font-family: 'Helvetica Neue', sans-serif;
}
.project-name {
  font-size:1.5em !important;
  font-weight:300 !important;
}
.project-section {
  margin-bottom:30px !important;
}
.project-links {
  margin-bottom:40px !important;
}

/*
.color1 { background: #dcdcdd; }
.color2 { background: #c5c3c6; }
.color3 { background: #46494c; }
.color4 { background: #4c5c68; }
.color5 { background: #1985a1; }

.reveal .reveal_section {
  position: relative;
}
.caption {
  position: fixed;
  bottom: 30px;
  right:50px;
	background-color: rgba(76,92,104, .7);
  width:35%;
  height:170px;
  font-family:'Open Sans' !important;
  color:#c5c3c6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding:15px;
  z-index:90;
  font-size:.8em;
}
.caption a {
  color: #666;
  padding: 10px;
  border: 1px dashed #999;

}
.caption .title {
	padding-bottom: 0px;
	margin-bottom:0px;
  font-size:1.5em;
  color:#c5c3c6;
}
h1, h2, h3, h4{
	font-family:'Open Sans' !important;
}
.name {
	font-family: 'Open Sans';
	font-weight:200;
}
.reveal .progress span{
  background:#1985a1 !important;
}
.home{
  bottom:30%;
  left:0%;
  width:100%;
  position:fixed;
  font-size:1.2em;
  z-index:10;
  text-align:center;
  color:#C5C3C6;
}
.home .directions {
  font-size:1.5em;
  margin-bottom:45px;
}
.home .key-icons {
  color: #1985a1;
  font-size:1em !important;
}*/
