<!-- Subnav with project name -->
<md-toolbar class="md-accent" >
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Projects" style="width:70px;" ui-sref="home">
      <i class="fa fa-chevron-left"></i> Home
    </md-button>
    <span flex></span>
    <h2 class="md-display-1 project-name"> {{project.name || project.$id}}</h2>
    <span flex></span>
  </div>
</md-toolbar>
<section layout="row" flex>
  <md-content class="md-padding" layout-padding>
    <div layout="column" layout-fill layout-align="space-around" ng-if="project.inspiration" class="project-section">
      <h4 class="md-headline">Inspiration</h4>
      <p>{{project.inspiration}}</p>
    </div>
    <md-divider></md-divider>
    <!-- Links -->
    <div layout="column" layout-padding layout-fill layout-align="space-around" ng-if="project.links"  class="project-links">
      <h4 class="md-headline">Links</h4>
      <div layout="row" layout-fill layout-align="space-around center">
        <md-button mg-no-ink class="md-primary " ng-repeat="link in project.links" ng-href="{{link.path}}" >
          <span class="link">{{link.name}}</span>
        </md-button>
      </div>
    </div>
    <md-divider></md-divider>
    <!-- Team -->
    <div layout="column" layout-fill layout-align="space-around" class="project-section">
      <h4 class="md-headline">Team</h4>
        <md-list layout="row" layout-align="space-around">
          <!-- <md-subheader class="md-no-sticky">Team</md-subheader> -->
          <md-list-item class="md-2-line" ng-repeat="(index, member) in project.team" ng-click="openLink(member.url)">
            <img ng-src="{{member.icon.url || 'https://lh4.googleusercontent.com/-gCdInJnSQYQ/AAAAAAAAAAI/AAAAAAAAAV8/ZCZZKSgTLEg/photo.jpg'}}" class="md-avatar" alt="{{member.name}}"/>
            <div class="md-list-item-text compact">
              <h3>{{member.name}}</h3>
              <!-- <p>{{member.email}}</p> -->
              <p>{{member.role || "Team Member"}}</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
      <md-divider></md-divider>
      <!-- Images -->
      <md-list>
        <md-item ng-repeat="section in project.pictures" layout-padding>
          <md-item-content ng-if="$even" layout="row"  layout-padding layout-wrap>
            <md-whiteframe class="md-whiteframe-z1" flex="50">
              <img ng-src="{{section.image.url}}" layout-fill>
            </md-whiteframe>
            <div flex="50" layout-padding layout-fill>
              <p>
                {{section.caption || 'Image Caption'}}
              </p>
            </div>
          </md-item-content>
          <md-item-content ng-if="$odd" layout="row" layout-padding layout-wrap>
            <div flex="50" layout-padding layout-fill>
              <p>
                {{section.caption || 'Image Caption'}}
              </p>
            </div>
            <md-whiteframe class="md-whiteframe-z1" flex="50" layout-fill>
              <img ng-src="{{section.image.url}}" layout-fill>
            </md-whiteframe>
          </md-item-content>
        </md-item>
      </md-list>
      <md-divider></md-divider>
      <!-- Technologies -->
      <div layout="column" ng-if="project.technologies" class="project-section">
        <h4 class="md-headline">Technologies</h4>
        <div layout="row" layout-fill layout-align="space-around center">
          <!-- TODO: Display icon if it exists -->
          <div ng-repeat="tech in project.technologies"  layout-padding>
            <a href="{{tech.link}}" ng-if="tech.icon">
              <img ng-src="{{tech.icon.url}}" style="{{tech.icon.style || 'width:125px'}}">
            </a>
            <md-button mg-no-ink class="md-primary" ng-href="{{tech.link}}" ng-if="!tech.icon">
              {{tech.name}}
            </md-button>
          </div>
        </div>
      </div>
  </md-content>
</section>
