<md-toolbar class="md-accent" >
  <div class="md-toolbar-tools">
    <span flex></span>
    <span class="md-flex">{{project.name}}</span>
    <span flex></span>
  </div>
</md-toolbar>
<section layout="row" flex>
  <md-content flex class="md-padding" layout-fill>
    <div layout="column" layout-fill layout-align="center center">
      <div layout="row" layout-fill layout-align="space-around center">
        <md-button mg-no-ink class="md-warn" ng-repeat="link in project.links" href="{{link.path}}">
          {{link.name}}
        </md-button>
      </div>
      <div layout="column" layout-fill layout-align="space-around center">
        <p>{{project.description}}</p>
      </div>
    <md-list>
      <md-item ng-repeat="section in project.pictures" layout="column" flex layout-wrap>
        <!-- <md-item-content ng-if="$first" layout-fill>
          <div class="md-tile-content" layout="row" layout-align="center">
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                 <img style="{{section.image.style || 'max-height:350px; width:auto;'}}" ng-src="{{section.image.url}}" offset="20">
             </md-whiteframe>
          </div>
        </md-item-content> -->
        <md-item-content ng-if="$even">
          <div class="md-tile-content" layout="row" layout-padding layout-wrap layout-fill>
            <div flex="50" >
              <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
                <img style="{{section.image.style || 'min-width:100px; max-height:500px;'}}" ng-src="{{section.image.url}}">
              </md-whiteframe>
            </div>
            <div flex="50" layout-padding>
              <p flex>
                {{section.caption || 'Image Caption'}}
              </p>
            </>
          </div>
        </md-item-content>
        <md-item-content ng-if="$odd">
          <div class="md-tile-content" layout="row" layout-padding layout-wrap layout-fill>
            <div flex="50" layout-padding>
              <p flex>
                {{section.caption}}
              </p>
            </>
          </div>
          <div flex="50" layout-padding layout-wrap>
            <md-whiteframe class="md-whiteframe-z1 background-fill" layout layout-align="center center">
              <img style="{{section.image.style || 'max-width:500px;'}}" ng-src="{{section.image.url}}">
            </md-whiteframe>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </div>
  </md-content>

    <!-- <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <span class="md-flex">{{project.name}}</span>
        </div>
      </md-toolbar>

      <md-content class="md-padding">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <div hide-md show-gt-md ng-repeat="button in project.buttons">
          <md-button  ng-click="close()" class="md-primary">
            {{button.name}}
          </md-button>
        </div>
        <md-button  ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>

        </p>
      </md-content>
    </md-sidenav> -->
</section>
