.reveal .reveal_section {
  position: relative;
}
.caption {
  position: fixed; 
  bottom: 0px;
  right:50px;
	background-color: rgba(0, 0, 0, 0.5);
  text-align:center;
  width:40%;
  font-family:'Open Sans' !important;
  color:#eeeeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding:15px;
  z-index:90;
}
.caption a {
  color: #666;
  padding: 10px; 
  border: 1px dashed #999;

}
.caption .title {
	padding-bottom: 0px;
	margin-bottom:0px;
}
h1, h2, h3, h4{
	font-family:'Open Sans' !important;
}
.name {
	font-family: 'Open Sans';
	font-weight:200;
}