<md-content class="md-padding">
  <md-grid-list
      md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
      md-row-height-gt-md="1:1" md-row-height="16:9"
      md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
    <md-grid-tile
        ng-repeat="project in projects | searchName:searchText"
        md-colspan-gt-sm="3"
        md-rowspan-gt-sm="3">
        <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" ng-click="openProject(project.name)">
          <div style=""></div>
          <img ng-src="{{project['pages'][1].background}}" alt="{{project.name}}" style="width:100%; height:auto;"/>
      </md-whiteframe>
    </md-grid-tile>
  </md-grid-list>
</md-content>
<md-content class="md-padding" layout="column">
  <div layout="column" layout-fill>
    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-align="center center">
      <div layout="column" flex>
        <section layout="row" layout-sm="column" layout-align="center center" flex>
          <md-button md-no-ink class="md-primary" flex>Engineering</md-button>
          <md-button md-no-ink class="md-primary" flex>Programming</md-button>
          <md-button md-no-ink class="md-primary" flex>Javascript</md-button>
          <md-button md-no-ink class="md-primary" flex>Volenteering</md-button>

          <!-- <md-button ng-disabled="true" class="md-primary">Disabled</md-button> -->
        </section>
        <div class="md-padding"  layout-sm="column" layout-align="center center">
          <!-- <md-input-container flex>
            <label >Search</label>
            <input ng-model="search">
          </md-input-container> -->
        </div>
      </div>
    </md-whiteframe>
  </div>
  <md-content class="lg-padding" layout="column" style="min-height:500px;">

  <md-autocomplete
      md-search-text="searchText"
      md-items="project in projects | searchName:searchText"
      md-item-text="project.name"
      placeholder="Search to filter projects">
    <span md-highlight-text="searchText">{{project.name}}</span>
  </md-autocomplete>
</br>
</md-content>
</md-content>
