
<md-dialog aria-label="{{project.name}}">
  <md-content>
    <md-subheader class="md-sticky-no-effect">{{project.name}}</md-subheader>

      <img style="margin: auto; max-width: 100%;" src="{{project.pages[0].background || project.pages[0].image.url}}">
      <p>
        {{project.pages[0].caption}}
      </p>
      <div class="gap"></div>

  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')">
     View Project Page
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Close
    </md-button>
  </div>
</md-dialog>
