<md-content class="md-padding no-background" layout="column"  layout-align="center">
<md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="center">
  <md-content class="md-padding">
    <md-content class="social" layout="row" layout-align="center center" ng-cloak>
      <!-- <iframe src="https://ghbtns.com/github-btn.html?user=prescottprue&type=follow&count=false&size=large" frameborder="0" scrolling="0" width="260px" height="30px" style="padding:none;"></iframe> -->
      <span>
        <a href="https://github.com/prescottprue" ><i class="fa fa-github icon-social icon-social"></i></a>
      </span>
      <span>
        <a href="mailto:prescottprue@gmail.com" ><i class="fa fa-envelope icon-social"></i></a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/prescottprue"><i class="fa fa-linkedin-square icon-social"></i></a>
      </span>
    </md-content>
    <md-content layout="row" layout-align="center center"><h2>or</h2></md-content>
      <md-content layout="column" layout-align="center">
        <form name="userForm">
          <div layout="column" layout-sm="column">
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="message.email" placeholder="your.email@example.com">
            </md-input-container>
            <md-input-container flex>
              <label>Message</label>
              <textarea ng-model="message.body" columns="1" ></textarea>
            </md-input-container>
          </div>
        </form>
        <md-button ng-disabled="!message.email" class="md-primary" ng-click="sendMessage()">Send</md-button>
      </md-content>
    </md-content>
  </md-whiteframe>
</md-content>
